*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1200px;
    margin:0 auto;
}
/*Header*/
.header{
    height: 100vh; 
    background-image: url(fundo.png);
    background-size: cover;
}
/*Menu*/
.menu{
    background-color: #fff;
}
.menu>ul{
    text-align: center;
}
.menu>ul>li{
    display: inline;
}
.menu a{
    text-decoration: none;
    color: black;
    display: inline;
}
/*Titulo*/
.titulo>section span{
    background: rgba(241, 196, 15, 0.7);
    padding: 5px;
    display: inline;
    font-size: 26px;
}
.titulo>section>div{
    margin: 24px auto;
}
.titulo>section{
    display: block;
    text-align: center;
    margin-bottom: 50px;
}
.titulo__principal{
    margin-top:117px;
}
.titulo__principal>span{
    font-size: 36px !important;
}

/*Main*/
.main{
    margin: 20px 100px;
}
.main h1{
    text-align: center;
    font-size: 23px;
    margin: 30px auto;
}
main p{
    font-size: 14px;
    padding: 10px 0;
}
/*Programacao*/
.tabela td{
    padding:5px 15px;
    border-right: 1px solid black;
}
.table th{
    background-color: #E5E5E5;
}
.tabela th{
    background-color: #E5E5E5;
    padding:5px;
    border-collapse: collapse;
    border:1px solid black;
}
.tabela{
    border-collapse: collapse;
    border:1px solid black;
}